<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Home</h1>
	<div>
	<form>
	<insert type='user' name='user' value='user'>
	<insert type='pw' name='password' value='password'>
	<insert type='submit' name='submit' value='login'>
	</form>
	</div>
</body>
</html>